<html>
    <head>
        <title>
            <%= title %> 
        </title>
        <body>
            <h1>doin great!! keep learning</h1>
            <% for( let i = 0; i < 5; i++ ) { %>
            <li><%= i %> </li>
            <% } %>

            
        </body>
    </head>
</html>